[submodule "doc/awesome-big-data"]
	path = doc/awesome-big-data
	url = https://github.com/onurakpolat/awesome-bigdata.git
[submodule "docker/knime"]
	path = docker/knime
	url = https://github.com/DrSnowbird/knime-docker.git
[submodule "docker/hadoop"]
	path = docker/hadoop
	url = https://github.com/big-data-europe/docker-hadoop.git
[submodule "docker/kafka"]
	path = docker/kafka
	url = https://github.com/wurstmeister/kafka-docker.git
[submodule "docker/hive"]
	path = docker/hive
	url = https://github.com/big-data-europe/docker-hive.git
